.tg {
    width: 99.2%;
    border-collapse:collapse;
    border-spacing:0;
    border-color:#93a1a1;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#93a1a1;
    color:#002b36;
    background-color:#fdf6e3;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#93a1a1;
    color:#fdf6e3;
    background-color:#657b83;
}

.tg thead{
    display: block;
}

.tg tbody{
    display: block;
    overflow: auto;
    height: 240px;
}

.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.tg .tg-0lax{
    text-align:left;
    vertical-align:top
}

#sendCheckedButton{
    margin-top: 10px;
    padding: 5px 50px 5px 50px;
    font-size: 18px;
    border-radius: 3px;
    border-color: #93a1a1;
    background-color: #657b83;
    color: #fdf6e3;
}

#sendCheckedButton:hover{
    transition: ease-in-out 0.5s;
    font-size: 24px;
    background-color: #708b93;
}