<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="Scripts/jquery.simple-checkbox-table.js"></script>
<script src="Views/Scripts/tableUpdate.js"></script>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Payments</title>
</head>
<body>
<a href="auth?action=logout">Logout</a><br>
<table id="table" border="1">
    <thead>
    <tr>
        <th><input type="checkbox" id="checkBoxMaster"></th>
        <th>State</th>
        <th>Uni</th>
        <th>Number</th>
        <th>Operation Date</th>
        <th>Amount</th>
        <th>Commission</th>
    </tr>
    </thead>
    <tbody id='tableBody'>
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("message?action=json", function (data) {
                drawTBody(data);
            });
        });
    </script>
    <script>
        $('#checkBoxMaster').click(function () {
            if ($(this).is(':checked')) {
                $('#table input:checkbox').prop('checked', true);
            } else {
                $('#table input:checkbox').prop('checked', false);
            }
        });
    </script>
    </tbody>
</table>
<button onclick="callAjax()">Send</button>
</body>
</html>
