<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Errors list</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="Views/Scripts/tableUpdate.js"></script>
<div style="padding: 3%">
    <table id="table" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody id='tableBody'>
        <script type="text/javascript">
            $(document).ready(function () {
                $.getJSON("message?action=jsonError", function (data) {
                    var $tBody = $("#tableBody");
                    $.each(data, function (index, error) {
                        $("<tr class='drawable'>").appendTo($tBody)
                            .append($("<td>").text(error.id))
                            .append($("<td>").text(error.message))
                            .append($("<td>").text(error.date))
                    });
                });
            });
        </script>
        </tbody>
    </table>
</div>
</body>
</html>