<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<div id="divReferences" style="padding: 3%">
    <h1 id="headerGreetings">Welcome home,</h1>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "home?action=json",
            type: "POST",
            dataType: 'json',
            success: function(data){
                if (data == "NULLLOGIN") {
                    $("#headerGreetings").append(" Commander");
                    $("#divReferences").append("<a href=\"auth?action=login\">Login</a><br>")
                }
                else {
                    $("#headerGreetings").append(" " + data);
                    $("#divReferences").append("<a href=\"message?action=show\">DB List</a><br>");
                    $("#divReferences").append("<a href=\"message?action=readNew\">Read new messages</a><br>");
                    $("#divReferences").append("<a href=\"message?action=readAll\">Read all messages</a><br>");
                    $("#divReferences").append("<a href=\"message?action=showErrors\">Error List</a><br>");
                    $("#divReferences").append("<a href=\"message?action=showOrders\">Order List</a><br>");
                    $("#divReferences").append("<a href=\"message?action=showClients\">Client List</a><br>");
                    $("#divReferences").append("<a href=\"auth?action=registration\">Registration</a><br>");
                    $("#divReferences").append("<a href=\"auth?action=logout\">Logout("+data+")</a><br>");
                }
            },
            error: function(error){
                alert(JSON.stringify(error));
            }
        });
    });
</script>
</body>
</html>
