<!DOCTYPE html>
<html lang="eu">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
        <input type="text" name="login" placeholder="Login"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" name="submit" onclick="login()"/>
    <h2 id="result"></h2>
    <script type="text/javascript">
        function login () {
            $.ajax({
                type: "POST",
                url: "auth?action=loginResult",
                data: {login: $("input[name=login]").val(), password: $("input[name=password]").val()},
                success: function (data) {
                    if (data.includes("MailHandler"))
                        window.location.replace(data);
                    else {
                        $('#result').append(JSON.stringify(data));
                    }
                },
                error: function (data) {
                    $('#result').append("Error: "+data);
                }
            })
        };


    </script>
</body>
</html>