<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="Views/Scripts/navGen.js"></script>
    <script src="Views/Scripts/tableUpdate.js"></script>
    <script src="Views/Scripts/jquery.simple-checkbox-table.js"></script>
    <title>Order list</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center">
            <ul class="navbar-nav" id="menu">
                <li class="nav-item active">
                    <a class="nav-link" href="home">PRSS</a>
                </li>
            </ul>
        </div>
    </nav>
<div style="padding: 3%">
    <table id="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>IdClient</th>
            <th>Date</th>
            <th>Amount</th>
            <th>OurCommission</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody id='tableBody'>
        <script type="text/javascript">
            $(document).ready(function () {
                $.getJSON("message?action=jsonOrder", function (data) {
                    var $tBody = $("#tableBody");
                    $.each(data, function (index, order) {
                        $("<tr class='drawable'>").appendTo($tBody)
                            .append($("<td>").text(order.id))
                            .append($("<td>").text(order.idClient))
                            .append($("<td>").text(order.date))
                            .append($("<td>").text(order.amount))
                            .append($("<td>").text(order.ourCommission))
                            .append($("<td>").text(order.data))
                    });
                });
            });
        </script>
        </tbody>
    </table>
</div>
</body>
</html>